@value MakeBlue,MakeBlack,MakeLightBlue,MakeGrey,MakeLightGrey,MakeYellow from '../../common/color.css';

* {
  box-sizing: border-box;
}
.filterContainer {
  display: flex;
}

.filterBtn {
  margin: 15px 4px;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid MakeLightGrey;
  border-radius: 0.2rem;
  outline: none;
  font-size: 0.9rem;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}

.fas {
  color: MakeLightGrey;
}
