@value MakeBlue from '../../common/color.css';

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: MakeBlue;
  color: white;
}

.headerLeft {
  display: flex;
}

.headerRight {
  display: flex;
}

.line {
  width: 1px;
}
