@value MakeBlue,MakeBlack,MakeLightBlue,MakeGrey,MakeLightGrey,MakeYellow from '../../common/color.css';

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid MakeLightGrey;
  padding: 10px 15px;
}
